.loginSignup-container{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    
}

.loginSignup-box{
   width: 25vw;
   height: 70vh;
   background-color: white;
   overflow: hidden;
}

.loginSignup-box > div {
    display: flex;
    flex-direction: column;
}
.loginSignup-toggle{
    display: flex;
    /* justify-content: space-around; */
    height: 3vmax;
}
.loginSignup-toggle >p{
  display: grid;
  place-items: center;
  width: 100%;
}
.loginSignup-box > div> button{
    width: 50%;
    background-color: #ff7f69;
    height: 3px;
    transition: all 0.5s;
}
.loginForm,.signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    transition: all 0.5s;
    height: 70%;
}
.signupForm {
    transform: translateY(-100%) translateX(-100vmax);
  }

.loginForm >div,
.signupForm >div
{
    /* display: flex; */
    width: 100%;
    display: flex;
    align-items: center;
}
/* .login-email{
    width: 22vw;
    height: 4vh;
    border: 2px solid gray;
} */
.loginForm > div > input,
.signupForm > div >input
{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    border: 1px solid gray;
    outline: none;
    font: 300 0.9vmax cursive;
    border-radius: 5px;
    
}
.loginForm > div > svg,
.signupForm > div >svg{
    position: absolute;
    padding-left: 1vmax;
    
}
.loginBtn,.signupBtn{
    width: 100%;
    border: none;
    padding: 0.8vmax;
    background-color: #ff7f69;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.219);
}
.registerImage> input{
    display: flex;
    padding: 0%;
    /* width: 100%; */
    /* padding: 2vmax; */
}
.registerImage > input::file-selector-button{
    cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

.shiftToLeft {
    transform: translateX(-100%);
  }
  .shiftToNeutral {
    transform: translateX(0%);
  }
  
  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  
  .shiftToRight {
    transform: translateX(100%);
  }

  @media screen and (max-width:600px) {
    
    .loginSignup-container{
      background-color: white;
    }
    .loginSignup-box{
      width: 100vw;
      height: 95vh;
      background-color: white;
      overflow: hidden;
   }
   .loginSignup-toggle >p{
    font: 300 1.5vmax "Roboto";
  }
  .loginForm,.signupForm{
    padding: 5vmax;
}
    .loginSignup-toggle{
      /* display: flex; */
      /* justify-content: space-around; */
      height: 5vmax;
  }
  }






